Magic 271485
Revision Verdi3_2013.07

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 31 70 1143 630 220 139

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/jack/work/btbd/sim/bt.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 10us

; waveform viewport range
zoom 0.000000 22235.497831 10u
cursor 2647.434676
marker 0.141661

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 5
; marker line index
markerPos 29

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname linkctrler.cs
nalias CONNECTIONPark_STATE		5'b01000		NULL
nalias InquiryScan_STATE		5'b00010		NULL
nalias InquiryScantxFHS_STATE		5'b10010		NULL
nalias PageMasterResp_rxackfhs_STATE		5'b01100		NULL
nalias Pagetmp_STATE		5'b11000		NULL
nalias CONNECTIONHold_STATE		5'b00110		NULL
nalias Page_STATE		5'b00011		NULL
nalias InquiryEIR_STATE		5'b10110		NULL
nalias InquiryScantxExtIRP_STATE		5'b10011		NULL
nalias PageSlaveResp_rxfhsdone_STATE		5'b11001		NULL
nalias PageScan1more_STATE		5'b01101		NULL
nalias CONNECTIONSniff_STATE		5'b00111		NULL
nalias Inquiryintern_STATE		5'b10111		NULL
nalias STANDBY_STATE		5'b00000		NULL
nalias PageSlaveResp_ackfhs_STATE		5'b10000		NULL
nalias PageScan_STATE		5'b00100		NULL
nalias Inquiry_STATE		5'b00001		NULL
nalias InquiryScanRand_STATE		5'b10001		NULL
nalias CONNECTIONActive_STATE		5'b00101		NULL
nalias CONNECTIONnewslave_STATE		5'b10100		NULL
nalias PageSlaveResp_txid_STATE		5'b01110		NULL
nalias PageMasterResp_txfhs_STATE		5'b01011		NULL
nalias CONNECTIONnewmaster_STATE		5'b10101		NULL
nalias PageSlaveResp_rxfhs_STATE		5'b01111		NULL

aliasmapname div.cs
nalias IDLE		2'b00		NULL
nalias DIVON		2'b01		NULL
nalias DIVEnd		2'b10		NULL

addGroup "G1"
activeDirFile "" "/home/jack/work/btbd/sim/bt.fsdb"
addSignal -h 15 /testbench/bt_top_m/hopctrlwd_u/div_en_p
aliasname div.cs
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/hopctrlwd_u/mod79_F/cs[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dividend[24:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope op_dividend[50:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope dividend[24:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope divisor[6:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/hopctrlwd_u/F[6:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/CLK[27:0]
addSignal -h 15 -holdScope m_tslot_p
addSignal -h 15 /testbench/bt_top_m/linkctrler_u/mpr
addSignal -h 15 -holdScope page
addSignal -h 15 /testbench/bt_top_m/bluetoothclk_u/m_conns_uncerWindow
aliasname linkctrler.cs
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/linkctrler_u/cs[4:0]
addSignal -h 15 -UNSIGNED -UDEC /testbench/bt_top_m/hopkernal_u/fk[6:0]
addSignal -h 15 /testbench/bt_top_m/allbitp_u/headerbitp_u/connsnewmaster
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/linkctrler_u/newconnectionTO_count[4:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/allbitp_u/headerbitp_u/txpk_lt_addr[2:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/bluetoothclk_u/CLK_slave[27:0]
aliasname linkctrler.cs
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/linkctrler_u/cs[4:0]
addSignal -h 15 -UNSIGNED -UDEC /testbench/bt_top_s/hopkernal_u/fk[6:0]
addSignal -h 15 /testbench/bt_top_s/linkctrler_u/s_tslot_p
addSignal -h 15 /testbench/bt_top_s/allbitp_u/rxbit
addSignal -h 15 -holdScope txbit
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/allbitp_u/headerbitp_u/dec_lt_addr[2:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/allbitp_u/ms_lt_addr[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope fhs_LT_ADDR[2:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/allbitp_u/pybitp_u/fhs_Pbits[33:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope fhs_LAP[23:0]
addGroup "G3"
addSignal -h 15 /testbench/bt_top_m/swgen_u/clk_6M
addSignal -h 15 -holdScope rstz
addSignal -h 15 -UNSIGNED -HEX -holdScope regi_scwdLAP[23:0]
addSignal -h 15 -holdScope regi_cal_scwd_p
addSignal -h 15 -UNSIGNED -UDEC -holdScope bitcnt[4:0]
addSignal -h 15 -holdScope inb
addSignal -h 15 -holdScope shift_in
addSignal -h 15 -UNSIGNED -HEX -holdScope pbits[33:0]
addSignal -h 15 -holdScope pbitsready
addSignal -h 15 -UNSIGNED -HEX -holdScope syncword[63:0]
addGroup "G4"
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

