Magic 271485
Revision Verdi3_2013.07

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1276 720 220 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/jack/btbd/sim/bt.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 10us

; waveform viewport range
zoom 1096.875579 4055.497831 10u
cursor 2687.728228
marker 2812.708228

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 25

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname linkctrler.cs
nalias InquiryScan_STATE		5'b00010		NULL
nalias CONNECTIONPark_STATE		5'b01000		NULL
nalias Page_STATE		5'b00011		NULL
nalias CONNECTIONHold_STATE		5'b00110		NULL
nalias Pagetmp_STATE		5'b11000		NULL
nalias PageMasterResp_rxackfhs_STATE		5'b01100		NULL
nalias InquiryScantxFHS_STATE		5'b10010		NULL
nalias CONNECTIONSniff_STATE		5'b00111		NULL
nalias PageScan1more_STATE		5'b01101		NULL
nalias PageSlaveResp_rxfhsdone_STATE		5'b11001		NULL
nalias InquiryScantxExtIRP_STATE		5'b10011		NULL
nalias InquiryEIR_STATE		5'b10110		NULL
nalias Inquiryintern_STATE		5'b10111		NULL
nalias STANDBY_STATE		5'b00000		NULL
nalias Inquiry_STATE		5'b00001		NULL
nalias PageScan_STATE		5'b00100		NULL
nalias PageSlaveResp_ackfhs_STATE		5'b10000		NULL
nalias CONNECTIONnewslave_STATE		5'b10100		NULL
nalias CONNECTIONActive_STATE		5'b00101		NULL
nalias InquiryScanRand_STATE		5'b10001		NULL
nalias CONNECTIONnewmaster_STATE		5'b10101		NULL
nalias PageMasterResp_txfhs_STATE		5'b01011		NULL
nalias PageSlaveResp_txid_STATE		5'b01110		NULL
nalias PageSlaveResp_rxfhs_STATE		5'b01111		NULL

addGroup "G1"
activeDirFile "" "/home/jack/btbd/sim/bt.fsdb"
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/CLK[27:0]
addSignal -h 15 /testbench/bt_top_m/bluetoothclk_u/m_conns_uncerWindow
aliasname linkctrler.cs
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/linkctrler_u/cs[4:0]
addSignal -h 15 -holdScope p_corre_threshold
addSignal -h 15 /testbench/bt_top_m/linkctrler_u/correlator_u/corre_trgp
addSignal -h 15 /testbench/bt_top_m/linkctrler_u/CLKE[1]
addSignal -h 15 -holdScope m_tslot_p
addSignal -h 15 -holdScope page
addSignal -h 15 -holdScope tx_packet_st_p
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/hopkernal_u/fk[6:0]
addSignal -h 15 /testbench/bt_top_m/allbitp_u/headerbitp_u/connsnewmaster
addSignal -h 15 /testbench/bt_top_m/linkctrler_u/pk_encode
addSignal -h 15 -holdScope m_tslot_p
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/allbitp_u/headerbitp_u/txpktype[3:0]
addSignal -h 15 /testbench/bt_top_m/allbitp_u/header_packet_period
addSignal -h 15 /testbench/bt_top_m/linkctrler_u/tx_packet_st_p
addSignal -h 15 /testbench/bt_top_m/allbitp_u/txbit
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_m/allbitp_u/headerbitp_u/regi_syncword_CAC[63:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/linkctrler_u/CLKN[27:0]
addSignal -h 15 /testbench/bt_top_s/bluetoothclk_u/s_conns_uncerWindow
addSignal -h 15 /testbench/bt_top_s/linkctrler_u/pk_encode
addSignal -h 15 -holdScope s_tslot_p
aliasname linkctrler.cs
addSignal -h 15 -UNSIGNED -HEX -holdScope cs[4:0]
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/hopkernal_u/fk[6:0]
addSignal -h 15 /testbench/bt_top_s/allbitp_u/header_packet_period
addSignal -h 15 -holdScope txheaderbit
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/allbitp_u/headerbitp_u/syncword[63:0]
addSignal -h 15 -holdScope conns
addSignal -h 15 -UNSIGNED -HEX -holdScope txpktype[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regi_packet_type[3:0]
addSignal -h 15 /testbench/bt_top_s/txbit
addGroup "G3"
addSignal -h 15 -UNSIGNED -HEX /testbench/bt_top_s/bluetoothclk_u/CLKN_slave[27:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope regi_slave_offset[27:2]
addSignal -h 15 -UNSIGNED -HEX -holdScope CLK_slave[27:0]
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

